	<div class="col-md-6 col-md-offset-3">
	<% if flash[:alert] %>
		<p id="notice"><%= flash[:alert] %></p>
	<% end %>

	<%= form_tag do %>
			<div class="panel-heading">
				<h2>Please Log In</h2>
			</div>

			<div class="panel-body">
			<div>
				<%= label_tag :name, 'Name' %>
				<%= text_field_tag :name, params[:name], class: "form-control" %>
			</div>

			<div>
				<%= label_tag :password, 'Password' %>
				<%= password_field_tag :password, params[:password], class: "form-control" %> 
			</div>

			<div>
				<%= submit_tag %>
			</div>
			</div>
	<% end %>
</div>
