<div class="centerDisplay"  style="color: #fff;">
<div class="col-md-6 col-md-offset-3">
    <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>
      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
    <% end %>
    		<h1 style="position: relative; right: 35px;">Sign up</h1>

  <div class="clear"></div>

	  
  <%= form_for(@user, url: signup_path) do |f| %>

    <div class="field">
      <%= f.label :name %>
      <%= f.text_field :name, class: "form-control" %>
    </div>

    <div class="field">
      <%= f.label :email %>
      <%= f.email_field :email, class: "form-control" %>
    </div>

    <div class="field">
      <%= f.label :password %>
      <%= f.password_field :password, class: "form-control" %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation, class: "form-control" %>
    </div>

    <div class="actions">
      <%= f.submit "Sign Up", class: "btn btn-search" %>
    </div>
    <% end %>
</div>
</div>
