<div class="jumbotron" id="jumbotron1">
</div>
<div class="container">
<div class="col-md-5 col-md-offset-3">
    <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>
      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
    <% end %>
    		<h1 style="color: #E32523;">S'inscrire</h1>

  <div class="clear"></div>
  <%= link_to "/auth/facebook" do %>
    <%= image_tag 'facebook.png', width: 300, height: 40, alt: 'Connect with facebook', class: "facebook-login" %>
  <% end %>
	  
  <%= form_for(@user, url: signup_path) do |f| %>

  
    <div class="field">
      <%= f.label :name %>
      <%= f.text_field :name, class: "form-control" %>
    </div>

    <div class="field">
      <%= f.label :email %>
      <%= f.email_field :email, class: "form-control" %>
    </div>

    <div class="field">
      <%= f.label :password, "Mot de passe" %>
      <%= f.password_field :password, class: "form-control" %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation, "Confirmer le mot de passe" %>
      <%= f.password_field :password_confirmation, class: "form-control" %>
    </div>

    <div class="actions">
      <%= f.submit "S'inscrire", class: "btn btn-search2" %>
    </div>
    <% end %>
</div>
</div>