<div class="jumbotron">
	<h1>Order Your Favorite Food Online Now</h1>
	<h2>From more than 500 restaurants in Morocco</h2>
</div>

<div class="container">
<div class="order-steps-container open">
	<div class="order-steps" style="display: block;">
		<div class="container">
			<ul>
				<li class="step-one">
					<h3 class="title">1. Search</h3>
					<p>Find restaurants that deliver to<br> you by entering your address<p>
				</li>
				<li class="step-two">
					<h3 class="title">2. Choose</h3>
					<p>Browse hundreds of menus to find<br> the food you like</p>
				</li>
				<li class="step-three">
					<h3 class="title">3. Pay</h3>
					<p>Pay with Cash on Delivery!</p>
				</li>
				<li class="step-four">
					<h3 class="title">4. Enjoy</h3>
					<p>Food is prepared & delivered to <br> your door</p>
				</li>
			</ul>
		</div>
	</div>
</div>
</div>

<div class="popular-restaurants">
	<h3 class="txtHead">Popular Restaurants</h3>
	<ul class="Innul">
		<li>
			<%= link_to welcome_index_path do %>
            <%= image_tag('PizzaHut.png') %>
          	<% end %>
		</li>
		<li>
			<%= link_to welcome_index_path do %>
            <%= image_tag('Mcdonalds.svg.png') %>
          	<% end %>
		</li>
		<li>
			<%= link_to welcome_index_path do %>
            <%= image_tag('PizzaHut.png') %>
          	<% end %>
		</li>
		<li>
			<%= link_to welcome_index_path do %>
            <%= image_tag('PizzaHut.png') %>
          	<% end %>
		</li>
		<li>
			<%= link_to welcome_index_path do %>
            <%= image_tag('PizzaHut.png') %>
          	<% end %>
		</li>
		
		<li>
			<%= link_to welcome_index_path do %>
            <%= image_tag('PizzaHut.png') %>
          	<% end %>
		</li>
		
		<li>
			<%= link_to welcome_index_path do %>
            <%= image_tag('PizzaHut.png') %>
          	<% end %>
		</li>
		
		<li>
			<%= link_to welcome_index_path do %>
            <%= image_tag('PizzaHut.png') %>
          	<% end %>
		</li>
	</ul>
	<div class="clr"></div>
</div>

<%= form_tag restaurants_path, method: :get do %>
  <%= label :full_street_address, "Search restaurants near : " %>
  <%= text_field_tag :full_street_address, params[:full_street_address] %>
  <%= submit_tag "Search" %>
<% end %>

