
<div class="centerDisplay1">
	<div class="main-page-search">
		<div class="main-search">
			<p id="search-header">
				Type in your area to see restaurants delivering to you
			</p>
			<%= form_tag(restaurants_path, :method => "get", id: "search-form") do %>
		    <%= text_field_tag :search, params[:search], placeholder: "Type your area", id:"search", class: "neighborhood", :style => "width: 536px" %>
		    <%= submit_tag "Search", :name => nil, class: "btn-search" %>
		<% end %>
		</div>
	</div>
</div>
<div class="centerDisplay" style="background-color: white;">
	
	<div class="gor-meny-head">
		<ul id="nav">
			<li class="live">
				<a href="#">
					<span>Call : 04-366 9 222</span>
				</a>
			</li>
			<li>
				<%= link_to  new_restaurant_path, :class => 'button white' do %>
	    			<span id="span">Restaurant Registration</span>
				<% end %>
			</li>
			<li>
				<a href="#">
					<span>Contact Us</span>
				</a>
			</li>
		</ul>
	</div>
	<div class="row">
		<div class="col-md-8 col-xs-8">

                <!-- Slider -->
                <div class="row" style="height: 620px;">
                    <div class="col-md-12 col-xs-12" id="slider">
                        <!-- Top part of the slider -->
                        <div class="row">
                            <div class="col-md-12 col-sm-12" id="carousel-bounding-box">
                                <div class="carousel slide" id="myCarousel" data-interval="1000">>
                                    <!-- Carousel items -->
                                    <div class="carousel-inner">
                                        <div class="active item" data-slide-number="0">
                                        <%= image_tag("car1.png")%>
                                      	</div>

                                        <div class="item" data-slide-number="1">
                                        <%= image_tag("car2.png")%></div>

                                        <div class="item" data-slide-number="2">
                                        <%= image_tag("car3.jpg")%></div>

                                        <div class="item" data-slide-number="3">
                                        <%= image_tag("car4.png")%></div>

                                        <div class="item" data-slide-number="4">
                                        <%= image_tag("car5.jpg")%></div>

                                        <div class="item" data-slide-number="5">
                                        <%= image_tag("car6.jpg")%></div>
                                    </div><!-- Carousel nav -->                             
                                    </div>

                            </div>

                            <div class="col-sm-4" id="carousel-text"></div>

                        </div>
                    </div>
                </div><!--/Slider-->

                

		</div>
		<div class="col-md-4 col-xs-4">
			<div class="join">
				<div class="what24">
					<h4>What is 24h.ae?</h4>
					<p>24h.ae is an online food delivery site which allows customers to conveniently and securely place an order from any of the hundreds of restaurants within our network. Users simply specify their neighborhood and their preferred cuisine and they are immediately provided with a list of restaurants able to deliver to their location.</p>
				</div>
				<div class="knopka">
					<div style="height:73px;">
					<%= link_to new_user_path, :class => 'button white' do %>
    					<span class="knopka sign-up">Join Us Now!</span>
					<% end %>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="restaurant-popular">
		<div class="row">
			<div class="col-md-2 col-xs-2"><%= image_tag("p1.jpg", class: "img-res") %></div>
			<div class="col-md-2 col-xs-2"><%= image_tag("p2.png", class: "img-res") %></div>
			<div class="col-md-2 col-xs-2"><%= image_tag("p3.png", class: "img-res") %></div>
			<div class="col-md-2 col-xs-2"><%= image_tag("burger.jpg", class: "img-res") %></div>
			<div class="col-md-2 col-xs-2"><%= image_tag("p5.jpg", class: "img-res") %></div>
			<div class="col-md-2 col-xs-2"><%= image_tag("p6.jpeg", class: "img-res") %></div>
		</div>
		<div class="row">
			<div class="col-md-2 col-xs-2"><%= image_tag("p7.jpeg", class: "img-res") %></div>
			<div class="col-md-2 col-xs-2"><%= image_tag("p8.png", class: "img-res") %></div>
			<div class="col-md-2 col-xs-2"><%= image_tag("p9.jpeg", class: "img-res") %></div>
			<div class="col-md-2 col-xs-2"><%= image_tag("p10.jpeg", class: "img-res") %></div>
			<div class="col-md-2 col-xs-2"><%= image_tag("p11.jpeg", class: "img-res") %></div>
			<div class="col-md-2 col-xs-2"><%= image_tag("p12.png", class: "img-res") %></div>
		</div>
		<div class="row">
			<div class="col-md-2 col-xs-2"><%= image_tag("p13.jpeg", class: "img-res") %></div>
			<div class="col-md-2 col-xs-2"><%= image_tag("p14.jpeg", class: "img-res") %></div>
			<div class="col-md-2 col-xs-2"><%= image_tag("p15.jpg", class: "img-res") %></div>
			<div class="col-md-2 col-xs-2"><%= image_tag("p16.jpg", class: "img-res") %></div>
			<div class="col-md-2 col-xs-2"><%= image_tag("p17.png", class: "img-res") %></div>
			<div class="col-md-2 col-xs-2"><%= image_tag("p18.png", class: "img-res") %></div>
		</div>
	</div>
</div>


