
<div class="cart__header__head__delivery-time"> 
    <div class="cart__header__head__delivery-time__label">Livraison dans environ </div> 
        <div class="cart__header__head__delivery-time__time"> 
            <span class="delivery_time_minutes"><%= @restaurant.estimated_delivery_time %></span> 
            <span class="delivery_time_label">minutes</span> 
        </div> 	
</div> 
 
<div class="clear"></div> 
<h2>Votre commande </h2>
<div class="cart__products" style="max-height: none;"> 
    <table> 
        <tbody> 
        	<%= render(cart.line_items) %> 
        </tbody> 
    </table> 
</div> 

<div class="cart__summary"> 
    <table> 
        <tbody> 
            <tr class="subtotal"> 
                <td></td> 
                <td>Sous total</td> 
                <td class="price"><%= number_to_currency(cart.total_price, unit: " ")%> DH</td> 
            </tr> 
            <tr class="deliverey-fee"> 
                <td></td> 
                <td class="title">Frais de livraison</td> 
                <td class="price"><%= number_to_currency(@restaurant.delivery_fee, unit: " ")%> DH</td> 
            </tr> 
            <tr class="vat"> 
                <td></td> 
                <td class="title">+ Vat</td> 
                <td class="price">3.11 DH</td> 
            </tr> 
            <tr class="total"> 
                <td></td> 
                <td class="title">Total</td> 
                <td class="total-price"><%= number_to_currency(@restaurant.delivery_fee + 3.11 + cart.total_price, unit: " ")%> DH</td> 
                
            </tr> 
        </tbody> 
    </table> 
</div> 


<div class="cart__checkout">    
        <%= link_to "Passer la commande", new_restaurant_order_path(@restaurant), method: :get, class: "btn btn-primary btn-block" %> 
</div>



<% if !logged_in? %> 
<h5 class="check-sentence">Please <%= link_to "log in", login_path %> or <%= link_to "register", new_user_path %> to place your order</h5>
<% end %>

<div class="cart__empty cart__empty--outside"> 
    <ul class="cart__empty__elements"> 
        <li> 
            <span class="title">Frais de livraison:</span> 
            <span class="value"><%= number_to_currency(@restaurant.delivery_fee, unit: " ") %>DH</span> 
        </li>
        <li> 
            <span class="title">minimum de livraison:</span> 
            <span class="value"><%= number_to_currency(@restaurant.delivery_minimum, unit: " ") %>DH</span> 
        </li>  
    </ul> 
</div> 

