<div class="restaurant-show-page">
<div class="jumbotron" id="jumbotron1">
</div>
<div class="container">
<h2><%= @restaurant.name %></h2>
  <div class="row">
    <div class="col-md-8 col-md-4">
        <div class="vendor-tabs">
          <ul class="nav nav-tabs vendor-tabs">
              <li class="<%=is_active('index')%>">
                <%= link_to 'Menu', restaurant_foods_path(@restaurant) %> 
              </li>
              <li>
                <%= link_to 'Commentaires', restaurant_reviews_path(@restaurant) %> 
              </li>
              <li>
                <%= link_to 'Info', restaurant_info_path(@restaurant) %> 
              </li>
          </ul>
        </div> 
        <%= link_to "Ajouter une categorie", new_restaurant_category_path(@restaurant), class: "add-link" %>
        <%= link_to "Ajouter un produit", new_restaurant_food_path(@restaurant), class: "add-link" %>
        <% @categories.each do |category| %>
          <% if !category.foods.blank? %>
            <h3 class="menu-category-title"><%= category.name %></h3>
            <% category.foods.each do |food| %>   
              <div class="row">
                <div class="col-md-2 col-sm-2 col-xs-2">
                  <%= image_tag(food.image_url, class: "food-image") %>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-6">
                  <h3 class="food-title"><%= food.title %></h3>
                  <p class="food-description"><%= sanitize(food.description) %></p>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-4">
                <p class="price">
                  <span class="food-price"><%= number_to_currency(food.price, unit: "") %> DH</span>
                  <span><%= button_to '+', line_items_path(food_id: food), remote: true, class: "btn-plus" %></span>
                </p>
                </div>
              </div>
            <% end %>   
          <% end %>
        <% end %>
        
    </div>
    <div class="col-md-4 col-sm-4">
    <div class="right-side">
      <div class="logo-restaurant">
        <%= image_tag @restaurant.image.url(:medium) , class: "vendor-image" %>
      </div>
      <div class="rating">
        <div class="star-rating" data-score= <%= @avg_review %> ></div>
        <em class="reviews_length"><%= "(#{@reviews.length})" %></em>
      </div>
      </div>
      <% if @cart %>
        <%= hidden_div_if(@cart.line_items.empty?, id: 'cart') do %>
          <%= render @cart %>
        <% end %>
      <% end %>  
    </div>
  </div>
</div>
</div>

  

<script>
    $('.star-rating').raty({
      path: '/assets/',
      readOnly: true,
      score: function() {
        return $(this).attr('data-score');
      }
    });
</script>


