<div class="restaurant-index-page">
  


  <div class="container">

  <div class="restaurant-index-wrapper">
    <h1 style="text-align: center; color: #fff">Restaurants</h1>
      <% @restaurants.each_slice(3) do |restaurants| %>
        <div class="row">
          <% restaurants.each do |restaurant| %>  
            <div class="col-md-4">
              <div class="row">
                <div class="col-md-5">
                  <%= link_to restaurant do %>
                    <%= image_tag restaurant.image.url(:large), class: "restaurant-index-image" %>
                  <% end %> 
                </div>    
                <div class="col-md-7">
                  <%= link_to restaurant do %>
                    <h3><%= restaurant.name %></h3>
                    <div class="cart__empty cart__empty--outside"> 
                      <ul class="cart__empty__elements"> 
                          <li> 
                              <span class="title" style="color: #fff">Frais de livraison:</span> 
                              <span class="value" style="color: #fff"><%= number_to_currency(restaurant.delivery_fee, unit: " ") %>DH</span> 
                          </li>
                          <li> 
                              <span class="title" style="color: #fff">minimum de livraison:</span> 
                              <span class="value" style="color: #fff"><%= number_to_currency(restaurant.delivery_minimum, unit: " ") %>DH</span> 
                          </li>  
                      </ul> 
                    </div> 
                  <% end %>
                </div>
            </div>  
          </div>
        <% end %>
      </div>  
    <% end %>    
</div>
  </div>
</div>

