<div class="centerDisplay">
  <div class="row">
    <div class="col-md-7 col-xs-7">
      <h1><%= @restaurant.name %></h1>
      <div class="clear"></div>
      <div class="vendor-tabs">
      <ul class="nav nav-tabs vendor-tabs">
          <li>
            <%= link_to 'Menu', restaurant_foods_path(@restaurant) %> 
          </li>
          <li>
            <%= link_to 'Reviews', restaurant_reviews_path(@restaurant) %> 
          </li>
          <li  class="<%=is_active('info')%>">
            <%= link_to 'Info', restaurant_info_path(@restaurant) %> 
          </li>
      </ul>
      </div>

      <div class="restaurant-info">
      <h5>Delivery Time:</h5>
      <table>
        <tr>
          <th class="table-head">Day</th>
          <th class="table-head1">Start Time</th>
          <th class="table-head2">End Time</th>
        </tr>
        <% @restaurant.opening_hours.each do |opening_hour| %>
          <tr>
            <td><%= Date::DAYNAMES[opening_hour.day] %></td>
            <td class="table-head1"><%= opening_hour.start_time.strftime("%l:%M%P") %></td>
            <td class="table-head2"><%= opening_hour.end_time.strftime("%l:%M%P") %></td>
          </tr>
        <% end %>
      </table>
      <h5>Address:</h5>
      <p><%= @restaurant.address %></p>

      <h5>Phone number:</h5>
      </div>
</div>
    <div class="col-md-5 col-xs-5">
      <div class="logo-restaurant">
        <%= image_tag @restaurant.image.url(:medium) , class: "vendor-image" %>
      </div>
      <div class="rating">
        <div class="star-rating" data-score= <%= @avg_review %> ></div>
        <em class="reviews_length"><%= "(#{@reviews.length})" %></em>
      </div>

    </div>
  </div>
</div>
  

<script>
    $('.star-rating').raty({
      path: '/assets/',
      readOnly: true,
      score: function() {
        return $(this).attr('data-score');
      }
    });
</script>








