<div class="restaurant-show-page">
  <div class="container">
    <div class="restaurant-index-wrapper">
      <h1><%= @restaurant.name %></h1>
                 <div class="vendor-tabs">
              <ul class="nav nav-tabs vendor-tabs">
                  <li>
                    <%= link_to 'Menu', restaurant_foods_path(@restaurant) %> 
                  </li>
                  <li>
                    <%= link_to 'Commentaires', restaurant_reviews_path(@restaurant) %> 
                  </li>
                  <li class="<%=is_active('info')%>">
                    <%= link_to 'Info', restaurant_info_path(@restaurant) %> 
                  </li>
              </ul>
            </div> 
        <div class="row">
          <div class="col-md-4">
 
            <div class="restaurant-info">
              <h4>Horaires d'ouverture:</h4>
              <table>
                <tr>
                  <th class="table-head">Day</th>
                  <th class="table-head1">Start Time</th>
                  <th class="table-head2">End Time</th>
                </tr>
                <% @restaurant.opening_hours.each do |opening_hour| %>
                  <tr>
                    <td><%= Date::DAYNAMES[opening_hour.day] %></td>
                    <td class="table-head1"><%= opening_hour.start_time.strftime("%l:%M%P") %></td>
                    <td class="table-head2"><%= opening_hour.end_time.strftime("%l:%M%P") %></td>
                  </tr>
                <% end %>
              </table>
              <h4>Addresse:</h4>
              <p><%= @restaurant.address %></p>

              <h4>Numero de téléphone:</h4>
              <p><%= @restaurant.phone_number %></p>
            </div>

          </div>
    <div class="col-md-8">
          
  

<div id="map"></div>
      <script>
        function initMap() {
          var uluru = {lat: <%= @restaurant.latitude %>, lng: <%= @restaurant.longitude %> };
          var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 15,
            center: uluru
          });
          var marker = new google.maps.Marker({
            position: uluru,
            map: map
          });
        }
      </script>
      <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCXYYNHt5bguptWTF27gBIdRe4Vmz05rUw&callback=initMap">
</script>


    </div>

  </div>

  <% @restaurant.restaurant_images.each_slice(3) do |images| %>
    <div class="row">
      <% images.each do |image| %>
        <div class="col-md-4 col-sm-4">
          <% if image.image.presence %>
            <%= image_tag image.image.url(:large), class: "gallery-image" %>
          <% end %>
        </div>
      <% end %>
    </div>
  <% end %>  
  <% if logged_in? %>
    <%= link_to "Ajouter une photo", new_restaurant_restaurant_image_path(@restaurant), class: "add-link" %>
  <% end %>

</div>

</div>

</div>

<script>
    $('.star-rating').raty({
      path: '/assets/',
      readOnly: true,
      score: function() {
        return $(this).attr('data-score');
      }
    });
</script>






