<div class="restaurant-show-page">
<div class="jumbotron" id="jumbotron1">
</div>
<div class="container">
<h2><%= @restaurant.name %></h2>
  <div class="row">
    <div class="col-md-4 col-sm-6">
        <div class="vendor-tabs">
          <ul class="nav nav-tabs vendor-tabs">
              <li>
                <%= link_to 'Menu', restaurant_foods_path(@restaurant) %> 
              </li>
              <li>
                <%= link_to 'Commentaires', restaurant_reviews_path(@restaurant) %> 
              </li>
              <li class="<%=is_active('info')%>">
                <%= link_to 'Info', restaurant_info_path(@restaurant) %> 
              </li>
          </ul>
        </div> 

        <div class="restaurant-info">
      <h4>Delivery Time:</h4>
      <table>
        <tr>
          <th class="table-head">Day</th>
          <th class="table-head1">Start Time</th>
          <th class="table-head2">End Time</th>
        </tr>
        <% @restaurant.opening_hours.each do |opening_hour| %>
          <tr>
            <td><%= Date::DAYNAMES[opening_hour.day] %></td>
            <td class="table-head1"><%= opening_hour.start_time.strftime("%l:%M%P") %></td>
            <td class="table-head2"><%= opening_hour.end_time.strftime("%l:%M%P") %></td>
          </tr>
        <% end %>
      </table>
      <h4>Address:</h4>
      <p><%= @restaurant.address %></p>

      <h4>Phone number:</h4>
      </div>
    </div>
    <div class="col-md-4 col-sm-6">
        <div id="map"></div>
      <script>
        function initMap() {
          var uluru = {lat: <%= @restaurant.latitude %>, lng: <%= @restaurant.longitude %> };
          var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 16,
            center: uluru
          });
          var marker = new google.maps.Marker({
            position: uluru,
            map: map
          });
        }
      </script>
      <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCXYYNHt5bguptWTF27gBIdRe4Vmz05rUw&callback=initMap">
</script>
 

    </div>
    <div class="col-md-4 col-sm-6">
    <div class="right-side">
      <div class="logo-restaurant">
        <%= image_tag @restaurant.image.url(:medium) , class: "vendor-image" %>
      </div>
      <div class="rating">
        <div class="star-rating" data-score= <%= @avg_review %> ></div>
        <em class="reviews_length"><%= "(#{@reviews.length})" %></em>
      </div>
      </div>
      <% if @cart %>
        <%= hidden_div_if(@cart.line_items.empty?, id: 'cart') do %>
          <%= render @cart %>
        <% end %>
      <% end %>  
    </div>
  </div>
</div>
</div>



<script>
    $('.star-rating').raty({
      path: '/assets/',
      readOnly: true,
      score: function() {
        return $(this).attr('data-score');
      }
    });
</script>









