<p id="notice"><%= notice %></p>

<div class="panel panel-default">
  <div class="panel-body">
    <div class="row">
      <div class="col-md-4">
        <%= image_tag @restaurant.image.url(:medium) %>
        <div class="star-rating" data-score= <%= @avg_review %> ></div>
        <em><%= "#{@reviews.length} reviews" %></em>
        <div class="table-responsive">
          <table class="table">
            <tbody>
              <tr>
                <td><strong>Name:</strong></td>
                <td><%= @restaurant.name %></td>
              </tr>
              <tr>
                <td><strong>Address:</strong></td>
                <td><%= @restaurant.address %></td>
              </tr>
              <tr>
                <td><strong>City:</strong></td>
                <td><%= @restaurant.city %></td>
              </tr>
              <tr>
                <td><strong>Coordinates:</strong></td>
                <td><%= @restaurant.latitude %> <%= @restaurant.longitude %></td>
              </tr>
              <tr>
                <td><strong>Rating:</strong></td>
                <td><%= @restaurant.rating %></td>
              </tr>
              
            </tbody>
          </table>
          <p>
  <strong>Opening Hours:</strong>
  <table>
    <tr>
      <th>Day</th>
      <th>Start Time</th>
      <th>End Time</th>
    </tr>
    <% @restaurant.opening_hours.each do |opening_hour| %>
      <tr>
        <td><%= Date::DAYNAMES[opening_hour.day] %></td>
        <td><%= opening_hour.start_time.strftime("%l:%M%P") %></td>
        <td><%= opening_hour.end_time.strftime("%l:%M%P") %></td>
      </tr>
    <% end %>
  </table>
</p>
          <%= link_to "Write a Review", new_restaurant_review_path(@restaurant) %>
        </div>
      </div>
      <div class="col-md-7 col-md-offset-1">
        <h1 class="review_title"><%= @restaurant.name %></h1>
        <% if @reviews.blank? %>
          <h3>No reviews just yet, would you like to add the first!</h3>
          <%= link_to "Write Review", new_restaurant_review_path(@restaurant), class: "btn btn-danger" %>
        <% else %>
          <% @reviews.each do |review| %>
            <div class="reviews">
              <div class="star-rating" data-score= <%= review.rating %> ></div>
              <p><%= review.comment %></p>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<% if session[:user_id] %>
  <%= link_to 'Edit', edit_restaurant_path(@restaurant) %> |
  <%= link_to 'Back', restaurants_path %>
<% end %>

<div class="menu">
<p id="notice"><%= notice %></p>
<h1>Menu</h1>

<% if @foods.blank? %>
      <h3>No foods just yet, would you like to add the first!</h3>
      <%= link_to "Add Food", new_restaurant_food_path(@restaurant), class: "btn btn-danger" %>
<% else %>
<% cache @foods do %>
  <% @foods.each do |food| %>
    <% cache food do %>
      <div class="entry">
        <%= image_tag(food.image_url) %>
        <h3><%= food.title %></h3>
        <p><%= sanitize(food.description) %></p>
        <div class="price_line">
          <span class="price"><%= number_to_currency(food.price) %></span>
          <%= button_to 'Add to Cart', line_items_path(food_id: food), remote: true %>
        </div>
      </div>
    <% end %>
  <% end %>
<% end %>
<% end %>


<% if session[:user_id] %>
  <%= link_to "Add new Food", new_restaurant_food_path(@restaurant) %>
<% end %>

</div>


<script>
    $('.star-rating').raty({
      path: '/assets/',
      readOnly: true,
      score: function() {
        return $(this).attr('data-score');
      }
    });
</script>
