<div class="centerDisplay">
  <div class="row">
    <div class="col-md-7 col-xs-7">
      <h1><%= @restaurant.name %></h1>
      <div class="clear"></div>
      <div class="vendor-tabs">
      <ul class="nav nav-tabs vendor-tabs">
          <li class="<%=is_active('show')%>">
            <%= link_to 'Menu', restaurant_foods_path(@restaurant) %> 
          </li>
          <li>
            <%= link_to 'Reviews', restaurant_reviews_path(@restaurant) %> 
          </li>
          <li>
            <%= link_to 'Info', restaurant_reviews_path(@restaurant) %> 
          </li>
      </ul>
      </div>
      <% @categories.each do |category| %>
        <% if !category.foods.blank? %>
        <h3 class="menu-category-title"><%= category.name %></h3>
        <table class="table">
          <tbody class="tbody">
          <% category.foods.each do |food| %>   
            <tr>
              <td class="picture-product td" style="width:80px; vertical-align:top;">
                <%= image_tag(food.image_url) %>
              </td>
              <td class="name-tovar td" style="vertical-align:top; width: 330px; text-align: left">
                <span class="tovar-title" style="color: white; font-weight: bold;"><%= food.title %></span>
                <br>
                <p style="color: #FFF;"><%= sanitize(food.description) %></p>
              </td>
              <td class="tovar-price td" style="text-align: right;vertical-align:top; color: #FFF">
                <span style="font-weight: bold"><%= number_to_currency(food.price, unit: "DH ") %></span>
                <%= button_to '+', line_items_path(food_id: food), remote: true, class: "btn-plus"%>
              </td>
            </tr>
          <% end %>   
          </tbody>
        </table>
        <% end %>
      <% end %>
    </div>
    <div class="col-md-5 col-xs-5">
      <div class="logo-restaurant">
        <%= image_tag @restaurant.image.url(:medium) , class: "vendor-image" %>
      </div>
      <div class="rating">
        <div class="star-rating" data-score= <%= @avg_review %> ></div>
        <em class="reviews_length"><%= "(#{@reviews.length})" %></em>
      </div>
      <% if @cart %>
        <div id="cart">
            <%= render @cart %>
        </div>
      <% end %>
    </div>
  </div>
</div>


<script>
    $('.star-rating').raty({
      path: '/assets/',
      readOnly: true,
      score: function() {
        return $(this).attr('data-score');
      }
    });
</script>


