<div class="restaurant-show-page">
<div class="jumbotron" id="jumbotron1">
</div>
<div class="container">
<h2><%= @restaurant.name %></h2>
  <div class="row">
    <div class="col-md-8 col-md-4">
        <div class="vendor-tabs">
          <ul class="nav nav-tabs vendor-tabs">
              <li>
                <%= link_to 'Menu', restaurant_foods_path(@restaurant) %> 
              </li>
              <li class="<%=is_active('index')%>">
                <%= link_to 'Commentaires', restaurant_reviews_path(@restaurant) %> 
              </li>
              <li>
                <%= link_to 'Info', restaurant_info_path(@restaurant) %> 
              </li>
          </ul>
        </div>
        <%= link_to "Ajouter un commentaire", new_restaurant_review_path(@restaurant), class: "add-link" %> 
        <div id="reviews">
            <div class="vendor-reviews">
              <div class="vendor-reviews__inner">
                <ul class="reviews">
                  <% @reviews.each do |review| %>
                    <li class="reviews__review">
                      <div class="reviews__review__date">
                        <span class="reviews__review__date__date"><%= review.created_at.to_date %></span>
                        <span class="reviews__review__date__author"><%= review.user.name %></span>
                      </div>
                      <div class="reviews__review__review">
                        <div class="star-rating" data-score= <%= @avg_review %> ></div>
                        <em class="reviews__review__review__title"><%= review.comment %></em>
                      </div>
                    </li>
                  <% end %>
                </ul>
              </div>
            </div>
          </div>

        

        
    </div>
    <div class="col-md-4 col-sm-4">
    <div class="right-side">
      <div class="logo-restaurant">
        <%= image_tag @restaurant.image.url(:medium) , class: "vendor-image" %>
      </div>
      <div class="rating">
        <div class="star-rating" data-score= <%= @avg_review %> ></div>
        <em class="reviews_length"><%= "(#{@reviews.length})" %></em>
      </div>
      </div>
      <% if @cart %>
        <div id="cart">
            <%= render @cart %>
        </div>
      <% end %> 
    </div>
  </div>
</div>
</div>

  

<script>
    $('.star-rating').raty({
      path: '/assets/',
      readOnly: true,
      score: function() {
        return $(this).attr('data-score');
      }
    });
</script>



