<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
<%= link_to root_path, class: "navbar-brand" do %>
   <p class="logo"><%= image_tag("267876.svg", class: "logo-img", id: "navbar-logo") %>
   Tanja food
   </p>
<% end %>
    </div>


      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" style="background: #fff;">
        <ul class="nav navbar-nav navbar-right" style="position: relative; top: 4px;">
        <li style="font-family: 'Indie Flower', cursive; position: relative; top: 7px; right: 10px;">
            <p class="logo"><%= image_tag("tjf.png", class: "logo-img", id: "navbar-logo") %></p>
        </li>
        <li style="font-family: 'Indie Flower', cursive;"><h4 class="red" style="position: relative; top: 5px; cursor: pointer">+212 618 054 143</h4></li>
        
          <% if logged_in? %>
          <li style="font-family: 'Indie Flower', cursive;"><%= link_to 'Logout',   logout_path, method: :delete %></li>
          <% else %>

          <li style="font-family: 'Indie Flower', cursive;"><%= link_to "Se connecter", login_path %></li>
          <li style="font-family: 'Indie Flower', cursive;"><%= link_to "S'inscrire", new_user_path %></li>  
          <% end %>
        </ul>
      </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>